:root {
    --dark-bg-color: #181818;
    --light-bg-color: white;
    --hover-bg-color: rgb(235, 235, 235);

    --hover-font-color: var(--main-border-color);
    --dark-font-color: #181818;
    --light-font-color: white;
    --main-font-weight: 600;
    --main-font-size: 14px;

    --main-border-color: rgb(0, 99, 185);
    --off-border-color: var(--hover-bg-color);
    --main-border-radius: 10px;
    --main-box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.352);

    --off-opacity: .7;
    --on-opacity: 1;

    --button-main-color: #0066ff;
    --button-hover-color: #0057da;
}

.mainView {
    position: relative;
    width: 100%;
    height: 800px;
    min-height: 100vh;
    background-image: linear-gradient(to bottom,
            rgba(104, 167, 250, 0.546),
            rgba(255, 255, 255, 0.297)), url('../../img/countries.png');
    background-position: top;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding-top: 300px;
    overflow: hidden;
}

.videoContainer {
    position: absolute;
    top: 0;
    height: 100%;
    object-fit: cover;
    object-position: center;
    z-index: -1;
}

.buttonContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    animation: pulseMove;
    animation-duration: 1s;
    animation-timing-function: cubic-bezier(0.42, 0.32, 0.21, 1.3);
}

.buttonContainer p {
    font-weight: var(--main-font-weight);
    font-size: 35px;
}

.button {
    position: relative;
    z-index: 10;
    cursor: pointer;
    border: none;
    border-radius: 50px;
    background: var(--button-main-color);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.418);
    color: white;
    height: 70px;
    width: 300px;
    font-size: 25px;
    font-weight: 600;
}

.button:hover {
    background: var(--button-hover-color);
    animation: pulseScale 1s ease-in-out infinite;
}

.button::after{
    content: '';
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 50px;
    height: 70px;
    width: 300px;
    background: var(--button-main-color);
    opacity: .3;
    /* animation: pulseBgScale 1s ease 2s infinite both; */
}

@media only screen and (max-width: 500px) {
    .button {
        height: 55px;
        width: 220px;
        font-size: 25px;
    }

    .button::after{
        height: 55px;
        width: 220px;
    }
}

@keyframes pulseMove {
    from {
        transform: translateY(-550%);
        opacity: 0;
    }
    50% {
        scale: 1.3;
        opacity: .4;
    }
    100% {
        transform: translateY(0%);
    }
}

@keyframes pulseScale {
    0% {
        scale: 1;
    }
    50% {
        scale: 1.1;
    }
}

@keyframes pulseBgScale {
    0% {
        scale: 1;
    }
    50% {
        scale: 1.1;
    }
}
