.mainView {
    position: relative;
    width: 100%;
    min-height: 100vh;
    background-color: var(--gray-bgcolor);
    padding-top: 50px;
    padding-bottom: 100px;
}

@media only screen and (max-width: 600px) {
    .mainView{
        padding-top: 20px;
    }
}

.mainViewContainer{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.firstViewContainer{
    width: 100%;
    max-width: 800px;
    min-height: 200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
    padding: var(--view-side-padding);
}

@media only screen and (max-width: 600px) {
    .firstViewContainer{
        flex-direction: column;
        align-items: flex-start;
        height: 100%;
    }
}

.infoContainer{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

.nombre{
    color: var(--dark-font-color);
    font-size: 50px;
    font-weight: var(--main-font-weight);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
}

.nombre p{
    line-height: normal;
    width: 100%;
    text-align: left;
}

@media only screen and (max-width: 700px) {
    .nombre{
        font-size: 30px;
    }
}

.nameAfter{
    display: none;
    height: 40px;
}

@media only screen and (max-width: 600px) {
    .nameAfter{
        display: block;
        height: 40px;
    }
}

.infoSinNombre{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 15px;
    font-weight: var(--main-font-weight);
    color: var(--gray-font-color);
}

.imagenBandera{
    height: 100%;
}

@media only screen and (max-width: 600px) {
    .imagenBandera{
        display: none;
    }
}










/*  ACTIVITIES */

.activitiesTableView{
    width: 100%;
    max-width: 800px;
    padding: var(--view-side-padding);
    padding-top: 50px;
    flex: 1;
}

.actividadesTuristicas{
    width: 100%;
    height: 30px;
    text-align: left;
    padding-left: 15px;
    color: black;
}

.activitiesTableContainer{
    width: 100%;
    height: 100%;
    border: 1px solid var(--off-border-color);
    border-radius: var(--main-border-radius);
    background-color: var(--light-bgcolor);
}

.activitiesTableContainer:hover{
        border: 1px solid var(--main-border-color);
}

.params{
    width: 100%;
    height: 40px;
    display: flex;
    border-bottom: 1px solid var(--off-border-color);
}

.actividadParam{
    width: 30%;
    min-width: 100px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 10px;
    font-size: var(--main-font-size);
    font-weight: var(--main-font-weight);
    color: var(--gray-font-color);
}

.allParams{
    height: 100%;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 5px;
    font-size: var(--main-font-size);
    color: var(--gray-font-color);
    overflow: hidden;
}








/* ROW VALUES TABLE */

.valuesRowsTable{
    width: 100%;
    min-height: 300px;
    max-height: 600px;
    padding-bottom: 15px;
    overflow-y: scroll;
}

.eachRow{
    width: 100%;
    height: 40px;
    display: flex;
}

.eachRow:nth-child(odd){
    background-color: #89cff05c;
}

.actividadValue{
    position: relative;
    width: 30%;
    min-width: 100px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 10px;
    font-size: var(--main-font-size);
    font-weight: var(--main-font-weight);
    color: black;
    overflow: hidden;
}

#temporadaValue{
    min-width: 100px;
}

.allValue{
    height: 100%;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 5px;
    font-size: var(--main-font-size);
    font-weight: var(--main-font-weight);
    color: black;
    overflow: hidden;
}

@media only screen and (max-width: 600px) {
    .actividadValue::after{
        display: none;
    }
}










/* LOADING */

.loadingContainer{
    width: 100%;
}
