:root {
    --view-side-padding: 0 30px;

    --dark-bg-color: #181818;
    --light-bgcolor: white;
    --gray-bgcolor: #f1f3f5;
    --hover-bg-color: rgb(235, 235, 235);

    --hover-font-color: var(--main-border-color);
    --dark-font-color: #181818;
    --light-font-color: white;
    --gray-font-color: #181818b6;
    --main-font-weight: 600;
    --main-font-size: 14px;

    --main-border-color: rgb(0, 99, 185);
    --off-border-color: var(--hover-bg-color);
    --main-border-radius: 10px;
    --little-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.118);
    --medium-box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.352);
    --main-box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.352);
    --high-box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.549);

    --height-buttons: 70%;
    --main-buttons-gap: 20px;

    --off-opacity: .7;
    --on-opacity: 1;
}

.mainView {
    position: relative;
    width: 100%;
    height: 100%;
}

.imgContainer {
    width: 100%;
    height: 100%;
    position: relative;
    border-radius: 25px;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.352);
    overflow: hidden;
    transition: all .3s;
}

.imgContainerHover {
    box-shadow: none;
    scale: 1.05;
    width: 100%;
    height: 100%;
    position: relative;
    border-radius: 25px;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.352);
    overflow: hidden;
    transition: all .3s;
}

.flagImg {
    width: 100%;
    height: 100%;
}

.overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: inherit;
    cursor: pointer;
    transition: all .2s;
}

.overlayHover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: inherit;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.6);
    transition: all .2s;
}

.countryName {
    font-size: 14px;
    font-weight: var(--main-font-weight);
    line-height: 20px;
    color: black;
}

.zoomIcon {
    opacity: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    height: 35%;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    transition: all .3s;
}

#zoomIconHidden{
    opacity: 1;
}

.zoomIcon img{
    height: 30px;
    width: 30px;
    padding: 5px;
    border-radius: 100%;
    background-color: white;
}

.zoomIcon img:hover{
    background-color: rgb(193, 193, 193);
}

.zoomIcon p{
    font-size: var(--main-font-size);
    font-weight: var(--main-font-weight);
    color: var(--light-font-color);
}

@media only screen and (max-width: 500px) {
    .zoomIcon p {
        font-size: 13px;
    }
}







/* NUMBER LEFT DOWN */

.numberDown{
    position: absolute;
    bottom: 5px;
    left: 16px;
    width: auto;
    height: 17px;
    padding: 0 4px;
    display: flex;
    align-items: center;
    border-radius: var(--main-border-radius);
    background-color: white;
    font-size: 13px;
    font-weight: var(--main-font-weight);
    color: var(--main-border-color);
}

#numberDownHidden{
    opacity: 0;
}

.numberDown img{
    height: 20px;
    width: 10px;
    margin-right: 5px;
}

@media only screen and (max-width: 500px) {
    .numberDown {
        font-size: 10px;
        height: 14px;
    }

    .numberDown img {
        height: 15px;
        width: 8px;
        margin-right: 5px;
    }
}







/* NUMBER POPULATION */

.numberPopulation{
    opacity: 0;
    position: absolute;
    bottom: 5px;
    right: 16px;
    width: auto;
    height: 17px;
    padding: 0 4px;
    display: flex;
    align-items: center;
    border-radius: var(--main-border-radius);
    background-color: white;
    font-size: 13px;
    font-weight: var(--main-font-weight);
    color: var(--main-border-color);
    transition: all .3s;
}

#numberPopulationHidden{
    opacity: 1;
}

.numberPopulation img{
    height: 20px;
    width: 10px;
    margin-right: 5px;
}

@media only screen and (max-width: 500px) {
    .numberPopulation {
        font-size: 10px;
        height: 14px;
    }

    .numberPopulation img {
        height: 15px;
        width: 8px;
        margin-right: 5px;
    }
}







/* NUMBER AREA */

.numberArea{
    opacity: 0;
    position: absolute;
    top: 5px;
    right: 16px;
    width: auto;
    height: 17px;
    padding: 0 4px;
    display: flex;
    align-items: center;
    border-radius: var(--main-border-radius);
    background-color: white;
    font-size: 13px;
    font-weight: var(--main-font-weight);
    color: var(--main-border-color);
    transition: all .3s;
}

#numberAreaHidden{
    opacity: 1;
}

.numberArea img{
    height: 20px;
    width: 10px;
    margin-right: 5px;
}

@media only screen and (max-width: 500px) {
    .numberArea {
        font-size: 10px;
        height: 14px;
    }

    .numberArea img {
        height: 15px;
        width: 8px;
        margin-right: 5px;
    }
}
