.view{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    background-color: white;
    /* height: 320px; */
}

.bigContainer{
    width: 90%;
    max-width: 600px;
}

.bigContainer h1{
    padding: 15px 0 0 0;
    color: black;
}

.comentario{
    color: var(--main-border-color);
    font-weight: var(--main-font-weight);
    margin-bottom: 30px;
}

.textos a{
    color: rgb(186, 171, 0);
    text-decoration: none;
}

.textos a:hover{
    text-decoration: underline;
}

.parrafo{
    line-height: 22px;
    font-weight: 500;
    color: black;
    margin-bottom: 30px;
}

.parrafo a{
    color: rgb(186, 171, 0);
}

hr{
    width: 90%;
    margin: auto;
    border: 1px solid rgba(0, 0, 0, 0.203);
    border-bottom: none;
    border-left: none;
    border-right: none;
}

.dospuntos{
    margin-top: 10px;
    font-weight: var(--main-font-weight);
    color: black;
}

.textos ol{
    padding-left: 0;
    text-align: center;
    width: max-content;
    margin: 20px auto 20px auto;
}

.textos li{
    list-style-type: none;
    margin: 4px 0;
    color: black;
}

.contacto{
    padding: 15px 0;
}

.contacto p{
    margin: 0;
    font-size: 15px;
    color: black;
}

.contacto a{
    text-decoration: none;
    color: black;
}

.contacto a:hover{
    text-decoration: underline;
}

.year{
    font-size: 14px;
    margin: 60px 0 5px 0;
    color: black;
}